# Project

## Overview

In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
# create the path to table. Table created using date from https://data.cso.ie/. It has the Residential Property Price Index
filepath_price_property_index = r'C:\Users\ROB86\OneDrive\Desktop\Price property index.csv'

In [3]:
#Open the file. Convert column Month into datetime, add the desired format and sort the values. Remove rows with no Values
price_property_index = pd.read_csv(filepath_price_property_index)
price_property_index['Month'] = pd.to_datetime(price_property_index['Month'], format='%Y %B')
price_property_index['Month'] = price_property_index['Month'].dt.strftime('%Y-%m')
price_property_index = price_property_index.dropna(subset=['VALUE'])

### 2024 homelessness tables and formats

In [4]:
# Mnthly homelessness data in ireland by month in 2024
homelessness_oct_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/6b1da9f4-c520-45bd-8070-8777760c5157/resource/7708775a-50d5-4e09-8812-210dfdc8c2b5/download/homelessness-report-october-2024.csv")
homelessness_sep_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/03489128-448c-47ac-86d2-f9874e380c49/resource/2608bcbd-c024-4ccb-8480-a0a70b78764e/download/homelessness-report-september-2024.csv")
homelessness_aug_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/23897cc0-bbee-4d3c-8fa0-d1bc9e81b9b3/resource/73792975-ba87-4afc-9820-6d76d9bfa543/download/homelessness-report-august-2024.csv")
homelessness_jul_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/e38b86a2-968a-41b9-adc4-63ce9b017ad8/resource/2d8746e7-cd60-4e4a-a65f-54965e2a5eb7/download/homelessness-report-july-2024.csv")
homelessness_jun_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/2681b76e-337e-4edc-a912-8a683d9708e9/resource/225fc1d9-131c-48c1-be3a-934f72f2e9aa/download/homelessness-report-june-2024.csv")
homelessness_may_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/fd8c95ec-1908-4778-a908-ceda068b72ae/resource/8cdf6fed-ddfc-431a-bd7b-c5be53cac38b/download/homelessness-report-may-2024.csv")
homelessness_apr_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/d3425423-5f1f-4d8e-81b8-0c42901a7e9a/resource/7f378425-0270-46c4-bf02-052336fd0642/download/homelessness-report-april-2024.csv")
homelessness_mar_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/9e032d77-9c87-49f5-b676-fe8ce0ee9381/resource/ebad6aec-078e-42aa-b0ac-270449f63cf4/download/homelessness-report-march-2024.csv")
homelessness_feb_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/83fa5de0-2430-4798-b243-5231dd62d39b/resource/08bc6f3b-c348-4fa4-9313-576fd10338bf/download/homelessness-report-february-2024.csv")
homelessness_jan_2024 = pd.read_csv("https://opendata.housing.gov.ie/dataset/681fd35e-6839-462f-9bed-aaf4034d1b30/resource/7537e266-c05e-443f-a8e4-92bd28d99fd6/download/homelessness-report-january-2024.csv")

In [90]:
# Create timestamps and convert them into strings with the desire format
specific_date_oct_2024 = pd.Timestamp('2024-10')
formatted_date_oct_2024 = specific_date_oct_2024.strftime('%Y-%m')
specific_date_sep_2024 = pd.Timestamp('2024-09')
formatted_date_sep_2024 = specific_date_sep_2024.strftime('%Y-%m')
specific_date_aug_2024 = pd.Timestamp('2024-08')
formatted_date_aug_2024 = specific_date_aug_2024.strftime('%Y-%m')
specific_date_jul_2024 = pd.Timestamp('2024-07')
formatted_date_jul_2024 = specific_date_jul_2024.strftime('%Y-%m')
specific_date_jun_2024 = pd.Timestamp('2024-06')
formatted_date_jun_2024 = specific_date_jun_2024.strftime('%Y-%m')
specific_date_may_2024 = pd.Timestamp('2024-05')
formatted_date_may_2024 = specific_date_may_2024.strftime('%Y-%m')
specific_date_apr_2024 = pd.Timestamp('2024-04')
formatted_date_apr_2024 = specific_date_apr_2024.strftime('%Y-%m')
specific_date_mar_2024 = pd.Timestamp('2024-03')
formatted_date_mar_2024 = specific_date_mar_2024.strftime('%Y-%m')
specific_date_feb_2024 = pd.Timestamp('2024-02')
formatted_date_feb_2024 = specific_date_feb_2024.strftime('%Y-%m')
specific_date_jan_2024 = pd.Timestamp('2024-01')
formatted_date_jan_2024 = specific_date_jan_2024.strftime('%Y-%m')

In [91]:
# adding a new column Date to the table with the date and desire format
homelessness_oct_2024['Date'] = formatted_date_oct_2024
homelessness_sep_2024['Date'] = formatted_date_sep_2024
homelessness_aug_2024['Date'] = formatted_date_aug_2024
homelessness_jul_2024['Date'] = formatted_date_jul_2024
homelessness_jun_2024['Date'] = formatted_date_jun_2024
homelessness_may_2024['Date'] = formatted_date_may_2024
homelessness_apr_2024['Date'] = formatted_date_apr_2024
homelessness_mar_2024['Date'] = formatted_date_mar_2024	
homelessness_feb_2024['Date'] = formatted_date_feb_2024
homelessness_jan_2024['Date'] = formatted_date_jan_2024

In [ ]:
combined_2024 = pd.concat([homelessness_oct_2024,homelessness_sep_2024,homelessness_aug_2024, homelessness_jul_2024,homelessness_jun_2024,homelessness_may_2024,homelessness_apr_2024,homelessness_mar_2024,homelessness_feb_2024,homelessness_jan_2024], ignore_index=True)

### 2023 Homelessness tables and figures

In [64]:
# Mnthly homelessness data in ireland by month in 2024
homelessness_dec_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/5469b7a9-4ff5-4f37-940b-97a1b2602dc4/resource/dfbcf1f2-51f2-438a-8103-15c8ff560c0b/download/homelessness-report-december-2023.csv")
homelessness_nov_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/43ca160e-a274-4e5c-a66c-cc332f328278/resource/e1e72e13-31d3-4f57-9411-7d1ba2d90da7/download/homelessness-report-november-2023.csv")
homelessness_oct_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/13991f42-a3ff-4f97-8be6-bb48ca6cd225/resource/c00b9111-b872-4857-a0fc-95a95afcc0c8/download/homelessness-report-october-2023.csv")
homelessness_sep_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/e1abeff6-eb5f-4c5d-bc70-f480551e525d/resource/7fe1b716-608f-4017-9cb3-7c021088e305/download/homelessness-report-september-2023.csv")
homelessness_aug_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/ff8ad077-c50b-4b9e-87f8-94c2932d20dd/resource/c8856026-9aad-4dfe-97b7-b2dc51112c82/download/homelessness-report-august-2023.csv")
homelessness_jul_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/06b69ba1-4864-4ba3-86ae-b8620c63b02c/resource/3ed19306-604f-4af4-8135-97100142602b/download/homelessness-report-july-2023.csv")
homelessness_jun_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/b0c5f2cb-62e1-4636-8e24-168e15c4cdbb/resource/c1babe56-9d77-4ecc-8fad-b60372601686/download/homelessness-report-june-2023.csv")
homelessness_may_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/4a67d150-d279-423e-89c8-872e8f23c2ac/resource/5e8c21d9-197f-4cba-9eb8-05cef7760a43/download/homelessness-report-may-2023.csv") #problems table
homelessness_apr_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/f4e8a00a-41ec-4614-adad-18be7777ddaf/resource/5a2dfe7c-6706-4cb9-9d8c-5d810a8e6e0b/download/homelessness-report-april-2023.csv") #problems table
homelessness_mar_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/0ddbd2e1-597a-4373-869e-a9a22c44e7d6/resource/c7af788f-6aec-4d69-9188-fd7a6cb1139b/download/homelessness-report-march-2023.csv") #problems table
homelessness_feb_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/16b4f235-403d-4d7a-8c83-3ae3b25ff276/resource/498fb653-3493-43d8-bd79-74b1d5e4d9b0/download/homelessness-report-february-2023.csv")
homelessness_jan_2023 = pd.read_csv("https://opendata.housing.gov.ie/dataset/28045f5f-c36a-44dc-8073-dceda19de92b/resource/7f71a732-4ae2-4d0a-8fd0-97f9480fb19e/download/homelessness-report-january-2023.csv")

In [93]:
specific_date_dec_2023 = pd.Timestamp('2023-12')
formatted_date_dec_2023 = specific_date_dec_2023.strftime('%Y-%m')
specific_date_nov_2023 = pd.Timestamp('2023-11')
formatted_date_nov_2023 = specific_date_nov_2023.strftime('%Y-%m')
specific_date_oct_2023 = pd.Timestamp('2023-10')
formatted_date_oct_2023 = specific_date_oct_2023.strftime('%Y-%m')
specific_date_sep_2023 = pd.Timestamp('2023-09')
formatted_date_sep_2023 = specific_date_sep_2023.strftime('%Y-%m')
specific_date_aug_2023 = pd.Timestamp('2023-08')
formatted_date_aug_2023 = specific_date_aug_2023.strftime('%Y-%m')
specific_date_jul_2023 = pd.Timestamp('2023-07')
formatted_date_jul_2023 = specific_date_jul_2023.strftime('%Y-%m')
specific_date_jun_2023 = pd.Timestamp('2023-06')
formatted_date_jun_2023 = specific_date_jun_2023.strftime('%Y-%m')
specific_date_may_2023 = pd.Timestamp('2023-05')
formatted_date_may_2023 = specific_date_may_2023.strftime('%Y-%m')
specific_date_apr_2023 = pd.Timestamp('2023-04')
formatted_date_apr_2023 = specific_date_apr_2023.strftime('%Y-%m')
specific_date_mar_2023 = pd.Timestamp('2023-03')
formatted_date_mar_2023 = specific_date_mar_2023.strftime('%Y-%m')
specific_date_feb_2023 = pd.Timestamp('2023-02')
formatted_date_feb_2023 = specific_date_feb_2023.strftime('%Y-%m')
specific_date_jan_2023 = pd.Timestamp('2023-01')
formatted_date_jan_2023 = specific_date_jan_2023.strftime('%Y-%m')

In [95]:
homelessness_dec_2023['Date'] = formatted_date_dec_2023
homelessness_nov_2023['Date'] = formatted_date_nov_2023
homelessness_oct_2023['Date'] = formatted_date_oct_2023
homelessness_sep_2023['Date'] = formatted_date_sep_2023
homelessness_aug_2023['Date'] = formatted_date_aug_2023
homelessness_jul_2023['Date'] = formatted_date_jul_2023
homelessness_jun_2023['Date'] = formatted_date_jun_2023
homelessness_may_2023['Date'] = formatted_date_may_2023
homelessness_apr_2023['Date'] = formatted_date_apr_2023
homelessness_mar_2023['Date'] = formatted_date_mar_2023
homelessness_feb_2023['Date'] = formatted_date_feb_2023
homelessness_jan_2023['Date'] = formatted_date_jan_2023

In [98]:
combined_2024 = pd.concat([homelessness_oct_2024,homelessness_sep_2024, homelessness_aug_2024,homelessness_jul_2024,homelessness_jun_2024,homelessness_may_2024,homelessness_apr_2024,homelessness_mar_2024,homelessness_feb_2024,homelessness_jan_2024], ignore_index=True)

In [74]:
combined_2023 = pd.concat([homelessness_dec_2023,homelessness_nov_2023, homelessness_oct_2023,homelessness_sep_2023, homelessness_aug_2023,homelessness_jul_2023,homelessness_jun_2023,homelessness_feb_2023,homelessness_jan_2023], ignore_index=True)

In [68]:
test= pd.concat([homelessness_dec_2023,homelessness_nov_2023, homelessness_oct_2023,homelessness_sep_2023, homelessness_aug_2023,homelessness_jul_2023,homelessness_jun_2023,homelessness_may_2023], ignore_index=True)

In [76]:
total = pd.concat([combined_2024,combined_2023])

In [79]:
total.head()

,Region,Total Adults,Male Adults,Female Adults,Adults Aged 18-24,Adults Aged 25-44,Adults Aged 45-64,Adults Aged 65+,Number of people who accessed Private Emergency Accommodation,Number of people who accessed Supported Temporary Accommodation,Number of people who accessed Temporary Emergency Accommodation,Number of people who accessed Other Accommodation,Number of people with citizenship Irish,Number of people with citizenship EEA/Uk,Number of people with citizenship Non-EEA,Number of Families,Number of Adults in Families,Number of Single-Parent families,Number of Dependants in Families,Date
0,Dublin,7388,4582,2806,1325,3951,1992,120,5030,2318,40,0,3332,1808,2248,1512,2632,824,3448,2024-10
1,Mid-East,511,291,220,87,226,169,29,355,156,1,0,343,97,71,118,192,73,187,2024-10
2,Midlands,173,96,77,24,89,56,4,133,0,40,3,131,30,12,41,47,35,67,2024-10
3,Mid-West,533,292,241,92,274,156,11,245,275,21,0,422,45,66,121,182,73,210,2024-10
4,North-East,256,127,129,38,139,73,6,142,112,2,0,139,61,56,70,96,49,150,2024-10

In [99]:
combined_2024.to_csv('C:/Users/ROB86/OneDrive/Desktop/total_data.csv', index=False)
print("Table exported as CSV!")

Table exported as CSV!